<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960976993975-s88334o1n2nisjgm17ot6p8pujj07rl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960976993975-s88334o1n2nisjgm17ot6p8pujj07rl7</string>
	<key>API_KEY</key>
	<string>AIzaSyDoQ3UjUX66TRaDJZOgGIj4GRy6kMjms8w</string>
	<key>GCM_SENDER_ID</key>
	<string>960976993975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loop.to.infinity.freelancer.invoice</string>
	<key>PROJECT_ID</key>
	<string>simplequote-4ccc3</string>
	<key>STORAGE_BUCKET</key>
	<string>simplequote-4ccc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960976993975:ios:0c47d0ae2af97194825732</string>
	<key>DATABASE_URL</key>
	<string>https://simplequote-4ccc3.firebaseio.com</string>
</dict>
</plist>